In [16]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("fhv_tripdata_2019-02.csv.gz")
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00037,2019-02-01 00:08:44,2019-02-01 00:23:35,264.0,265.0,NaN,B00037
1,B00037,2019-02-01 00:27:51,2019-02-01 00:32:54,264.0,265.0,NaN,B00037
2,B00037,2019-02-01 00:18:30,2019-02-01 00:25:45,264.0,265.0,NaN,B00037
3,B00037,2019-02-01 00:43:15,2019-02-01 00:48:29,264.0,265.0,NaN,B00037
4,B00037,2019-02-01 00:01:45,2019-02-01 00:09:13,264.0,265.0,NaN,B00037

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1707649 entries, 0 to 1707648
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    object
 1   pickup_datetime         object
 2   dropOff_datetime        object
 3   PUlocationID            float64
 4   DOlocationID            float64
 5   SR_Flag                 float64
 6   Affiliated_base_number  object
dtypes: float64(3), object(4)
memory usage: 91.2+ MB

In [6]:
df.isna().sum()

dispatching_base_num            0
pickup_datetime                 0
dropOff_datetime                0
PUlocationID                    1
DOlocationID                    1
SR_Flag                   1707643
Affiliated_base_number       7107
dtype: int64

In [8]:
df.shape

(1707649, 7)

In [21]:
df["dispatching_base_num"] = df["dispatching_base_num"].astype(str)
df["pickup_datetime"] = pd.to_datetime(df["pickup_datetime"])

In [26]:
df["dropOff_datetime"] = df["dropOff_datetime"].astype(np.datetime64)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1707649 entries, 0 to 1707648
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    object
 1   pickup_datetime         datetime64[ns]
 2   dropOff_datetime        datetime64[ns]
 3   PUlocationID            float64
 4   DOlocationID            float64
 5   SR_Flag                 float64
 6   Affiliated_base_number  object
dtypes: datetime64[ns](2), float64(3), object(2)
memory usage: 91.2+ MB

In [19]:
df["dispatching_base_num"]

0          0                   B00037\n1                 ...
1          0                   B00037\n1                 ...
2          0                   B00037\n1                 ...
3          0                   B00037\n1                 ...
4          0                   B00037\n1                 ...
                                 ...
1707644    0                   B00037\n1                 ...
1707645    0                   B00037\n1                 ...
1707646    0                   B00037\n1                 ...
1707647    0                   B00037\n1                 ...
1707648    0                   B00037\n1                 ...
Name: dispatching_base_num, Length: 1707649, dtype: object